@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-duration: 300ms;
  font-family: "Short Stack", "Amiri", serif, cursive;
}

.quran-text {
  font-family: "Amiri", serif;
}

/* width */
::-webkit-scrollbar {
  @apply bg-[#2A2A2A] w-[6px];
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-[#1ebc4b] rounded-xl;
}
